<div class="container loginContainerPage">
  <div class="row text-left">
    <div class="col">Nombre de usuario</div>
    <div class="col">
      <input type="text" [(ngModel)]="nombreUsuario">
    </div>
  </div>
  <div class="row">
    <div class="col">Contraseña</div>
    <div class="col">
      <input type="password" [(ngModel)]="password">
    </div>
  </div>
  <div class="row p-3">
    <div class="col text-center">
      <input type="button" value="Login" (click)="login()">
    </div>
  </div>
  <div class="row">
    @if (errorMessage==true){
      <div class="col" style="color: darkred;">
          <div>Message de error</div>
      </div>
    }
  </div>
</div>


