<nav class="navbar navbar-expand-lg bg-body-tertiary" >
  <div class="container-fluid">

    <a class="navbar-brand" routerLink="/home">
      <i class="bi bi-house-door-fill"></i>
    </a>

    <a class="navbar-brand" href="#" style="color: black;">Navbar</a>
    <button class="navbar-toggler" type="button"  routerLink="" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        @for (item of menuItems; track item.id) {
          @if (!item.isDropDown && item.parent==true){
            <li class="nav-item " >
              <a class="nav-link" routerLink="/{{item.route}}">{{item.name}}</a>
            </li>
          }
          @else{
            @if(item.idParent==null){
            <li class="nav-item {{item.isDropDown?'dropdown':''}}">
              <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                {{item.name}}
              </a>
              <ul class="dropdown-menu">
                @for (itemSubmenu of menuItems; track itemSubmenu.id) {
                  @if(item.id==itemSubmenu.idParent){
                    <li><a class="dropdown-item" routerLink="{{itemSubmenu.route}}">{{itemSubmenu.name}}</a></li>
                  }
                }
              </ul>
            </li>
            }
          }<!-- fin if menu -->
        }<!-- fin for menu -->
      </ul>
      <form class="d-flex" role="search">
        <input class="form-control me-2 bi bi-search" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form>
    </div>
  </div>
</nav>
