<div class="container-fluid">
  <div class="row cabecera">
    <div class="col-10 text-left" >
      <h1 class="titleCabecera">{{title}}</h1>
    </div>
    @if(usuarioActual && usuarioActual.name!=''){
    <div class="col text-center">
      <app-user-menu></app-user-menu>
    </div>
    }
    @else {
    <div class="col p-3">
      <a routerLink="/login" style="color:white">Login</a>&nbsp;
      <a routerLink="/register" style="color:white">Register</a>
    </div>
    }
  </div>
</div>
@if(usuarioActual && usuarioActual.name!=''){
<div>
  <app-main-menu></app-main-menu>
</div>
}
<div class="container-fluid">
  <router-outlet />
</div>

