<div class="dropdown">
  <a class="btn btn-secondary dropdown-toggle btn-sm" href="#" role="button" id="dropdownMenuLink" data-bs-toggle="dropdown" aria-expanded="false">
    <i class="bi bi-person-circle"></i> &nbsp;<b>{{usuarioActual.name}}</b>
  </a>
  <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
    <li class="text-center"><b>{{usuarioActual.name}}</b></li>
    <li><a class="dropdown-item" href="#" (click)="cerrarSesion()">Cerrar</a></li>
    <li><a class="dropdown-item" href="#">Action</a></li>
    <li><a class="dropdown-item" href="#">Another action</a></li>
  </ul>
</div>
