<h3>Weight meditions</h3>


<!-- <div class="placeholder-glow" aria-hidden="true" >
  <div class="row">
    <div class="placeholder col-2"></div>
    <div class="placeholder col-2"></div>
  </div>
</div> -->
@if(loading==false)
{
  <div class="card" aria-hidden="true">
    <img src="" class="card-img-top" alt="">
    <div class="card-body">
      <h5 class="card-title placeholder-glow">
        <span class="placeholder col-6"></span>
      </h5>
      <p class="card-text placeholder-glow">
        <span class="placeholder col-2"></span>&nbsp;
        <span class="placeholder col-2"></span>&nbsp;
        <span class="placeholder col-2"></span>&nbsp;
        <span class="placeholder col-2"></span>&nbsp;
        <span class="placeholder col-2"></span>&nbsp;
      </p>
      <p class="card-text placeholder-glow">
        <span class="placeholder col-2"></span>&nbsp;
        <span class="placeholder col-2"></span>&nbsp;
        <span class="placeholder col-2"></span>&nbsp;
        <span class="placeholder col-2"></span>&nbsp;
        <span class="placeholder col-2"></span>&nbsp;
      </p>
      <p class="card-text placeholder-glow">
        <span class="placeholder col-2"></span>&nbsp;
        <span class="placeholder col-2"></span>&nbsp;
        <span class="placeholder col-2"></span>&nbsp;
        <span class="placeholder col-2"></span>&nbsp;
        <span class="placeholder col-2"></span>&nbsp;
      </p>
    </div>
  </div>
}
@else {
  @if(weightData){
    <div class="container-fluid">
      <table class="table table-hover">
        <thead>
          <tr>
            <th scope="col" class="col-1">#</th>
            <th scope="col" class="col-1">id</th>
            <th scope="col" class="col-1">Weight</th>
            <th scope="col" class="col-5">Date</th>
            <th scope="col" class="col-4">Actions</th>
          </tr>
        </thead>
        <tbody>
          @for (item of weightData; track item.id ;let idx = $index) {
          <tr>
            <td scope="row">{{idx}}</td>
            <td>{{item.id}}</td>
            <td>{{item.weight}}</td>
            <td>{{item.dateWeight}}</td> <!--|date:'dd/MM/yyyy'-->
            <td class="p-2" style="background-color: bisque;">
              <button type="button" class="btn btn-warning" (click)="updateRow(item.idWeight)">Update</button>&nbsp;
              <button type="button" class="btn btn-danger" (click)="deletetWeight(item.idWeight)">Delete</button>
            </td>
          </tr>
        }
        </tbody>
      </table>
    </div>
  }

}

<!-- <div class="container">
  @for (item of weightData; track item.id ;let idx = $index) {
    <div class="row">
      <div class="col">{{idx}}</div>
      <div class="col">{{item.weight}}</div>
      <div class="col">{{item.dateWeight}}</div>
    </div>
  }
</div> -->




