/* You can add global styles to this file, and also import other style files */

@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";


.titleCabecera{
  background-color: royalblue;
  /* height: 100px; */
  color: white;
  font-family: sans-serif;
  padding: 15px;
  /* border: 1px solid black; */
  text-shadow: 3px 3px 3px black;

}

.colCabecera{
  background-color: royalblue;
  border: 1px solid black;
  color: white;
}


.loginBox{
  border-radius: 15px ;
  padding: 10px;
}


.loginContainerPage{
  width: 400px;
  border: 2px solid black;
  border-radius: 15px ;
  box-shadow: 1px 3px 10px black;
  padding: 15px 15px 15px 5px;
}
