/* You can add global styles to this file, and also import other style files */

@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";


.cabecera{
  background-color: royalblue;
  font-family: sans-serif;
  padding: 0px;
}

.titleCabecera{
  color: white;
  font-family: sans-serif;
  text-shadow: 3px 3px 3px black;
}

.loginContainerPage{
  width: 400px;
  border: 1px solid black;
  border-radius: 15px ;
  box-shadow: 1px 3px 10px black;
  padding: 15px 15px 15px 5px;
  margin-top: 30px ;
}

.weightInsertBox{
  width: 500px;
  border: 1px solid black;
  border-radius: 15px ;
  box-shadow: 1px 3px 10px black;
  padding: 15px;
  margin-top: 10px ;
}
